@page "/404"
@model Hexed_Relics.Pages.Auth.AccessDeniedModel
@{
}


<div class="mt-5">
    <h1 align="center">Page Not Found / Access Denied</h1>
</div>

<div class="container col-5 text-center">
    <br /><br />
    <img src="~/Images/close.png" width="150" height="150" /><br /><br /><br />
    <p>You either <u style="color:red"><span style="color:red">do not</span></u> have permission to view this page or the page does not exist.</p><br /><br />
    <a asp-page="/Index" class="btn btn-primary">Return Home</a>
</div>