@page
@model Hexed_Relics.Pages.ScamPreventionTipsModel
@{
}

<div class="container col-lg-8 col-md-10 col-sm-12 mt-5" align="center">
    <div class="row">
        <h1>Four Signs That It’s a Scam</h1>
    </div>
    <div class="row mt-3">
        <h1 style="color:#429bf5; font-weight:bold" class="mb-2">
           1. Scammers PRETEND to be from an organization you know.
        </h1>
        <p style="font-size:large">
            Scammers often pretend to be contacting you on behalf of the government. 
            They might use a real name, like the Social Security Administration, the IRS, or Medicare, or make up a name that sounds official. 
            Some pretend to be from a business you know, like a utility company, a tech company, or even a charity asking for donations.
            They use technology to change the phone number that appears on your caller ID. So the name and number you see might not be real.
        </p>
    </div>
    <div class="row mt-3">
        <h1 style="color:#429bf5; font-weight:bold" class="mb-2">
           2. Scammers say there’s a PROBLEM or a PRIZE.
        </h1>
        <p style="font-size:large">
            They might say you’re in trouble with the government. Or you owe money. Or someone in your family had an emergency. 
            Or that there’s a virus on your computer.
            Some scammers say there’s a problem with one of your accounts and that you need to verify some information.
            Others will lie and say you won money in a lottery or sweepstakes but have to pay a fee to get it.
        </p>
    </div>
        <div class="row mt-3">
        <h1 style="color:#429bf5; font-weight:bold" class="mb-2">
           3. Scammers PRESSURE you to act immediately.
        </h1>
        <p style="font-size:large">
            Scammers want you to act before you have time to think. 
            If you’re on the phone, they might tell you not to hang up so you can’t check out their story.
            They might threaten to arrest you, sue you, take away your driver’s or business license, or deport you. 
            They might say your computer is about to be corrupted.
        </p>
    </div>
     <div class="row mt-3">
        <h1 style="color:#429bf5; font-weight:bold" class="mb-2">
           4. Scammers tell you to PAY in a specific way.
        </h1>
        <p style="font-size:large">
            They often insist that you pay by sending money through a money transfer company or by putting money on a gift card and then giving them the number on the back.
            Some will send you a check (that will later turn out to be fake), tell you to deposit it, and then send them money.
        </p>
    </div>
</div>
<hr/>
<div class="container col-lg-8 col-md-10 col-sm-12 mt-5 mt-4">
    <div class="row">
        <h1 style="color:#429bf5; font-weight:bold" align="center">How to avoid a scam</h1>
    </div>
   <div class="row mt-3">
        <p style="font-size:large">
            1. Block unwanted calls and text messages. Take steps to block unwanted calls and to filter unwanted text messages.
        </p>
    </div>
    <div class="row mt-3">
        <p style="font-size:large">
            2. Don’t give your personal or financial information in response to a request that you didn’t expect. 
            Legitimate organizations won’t call, email, or text to ask for your personal information, like your Social Security, bank account, or credit card numbers.
        </p>
    </div>
    <div class="row mt-3">
        <p style="font-size:large">
            3. Resist the pressure to act immediately. 
            Legitimate businesses will give you time to make a decision. 
            Anyone who pressures you to pay or give them your personal information is a scammer.
        </p>
    </div>
    <div class="row mt-3">
        <p style="font-size:large">
            4. Know how scammers tell you to pay. 
            Never pay someone who insists you pay with a gift card or by using a money transfer service. 
            And never deposit a check and send money back to someone.
        </p>
    </div>
    <div class="row mt-3">
        <p style="font-size:large">
           5. Stop and talk to someone you trust.
           Before you do anything else, tell someone — a friend, a family member, a neighbor — what happened. 
           Talking about it could help you realize it’s a scam.
        </p>
    </div>
</div>
<hr/>
<div class="container col-lg-8 col-md-10 col-sm-12 mt-5 mt-3" align="center">
    <a asp-page="/Index" class="btn btn-primary">Back to Main Page</a>
    <br/><br/>
    <p>Source: https://www.consumer.ftc.gov/articles/how-avoid-scam</p>
</div>