@page "/login"
@model Hexed_Relics.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}

@if (!Html.ViewData.ModelState.IsValid || @Model.Message != null)
{
    <div class="container col-5 align-content-center">
        <div class="alert alert-danger mt-5" style="border-radius: 20px;">
            <div class="row">
                <div class="container col-3 " align="center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </div>
                <div class="container col-9" asp-validation-summary="All" role="alert">
                    @Model.Message
                </div>
            </div>
       </div>
    </div>
}

<form class="container col-5 col-lg-3 col-sm-5" method="post">
    <div align="center" class="mt-5">
        <img class="mb-4" src="~/images/sigma.png" alt="" width="180" height="180">
        <h3>Sign in to your account</h3>
    </div>

    <div class="form-group row" id="unDiv">
        <label for="un" class="control-label">Username</label>
        <input type="text" class="form-control" id="un" asp-for="Username" value="">
    </div>

    <div class="form-group row" id="pwDiv">
        <label for="pw" class="control-label mt-3">Password</label>
        <input type="password" class="form-control" id="pw" asp-for="Password" value="">
    </div>
    <div class="form-group row mb-3 mt-3">
        <div class="checkbox">
            <label>
                <input type="checkbox" asp-for="RememberMe"> Remember me
            </label><br />
        </div>
    </div>
    <div class="d-flex flex-column" id="btndiv">
        <div class="row">
           <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </div>
</form>

<form class="container col-5 col-lg-3 col-sm-5 mt-4" method="get">
    <div class="d-flex flex-column" id="btndiv">
        <div class="row">
           <button class="btn btn-lg btn-info btn-block" id="signupbtn" asp-page="/Auth/CreateBankAccount">Sign up</button>
        </div>
    </div>
</form>
<p class="mt-5 mb-3 text-muted">© 2022</p>

<script src="~/js/LoginEvents.js" asp-append-version="true"></script>